*{
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 1.05rem;
  line-height: 1.6;
}

.container {
  margin: auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.flex {
  display: flex;
}

.btn{
  font-family: inherit;
  cursor: pointer;
  outline: 0;
  font-size: 1.05rem;
}
.text{
  opacity: 0.8;
}
.title{
  font-size: 2rem;
  margin-bottom: 1rem;
}

.search-btn{
  background-color: rgb(238, 141, 50);
  color: white;
}


#meal{
  margin: 2.4rem 0;
}

.meal-result{
  float: left;
  margin-top: 4rem;
}

.meal-item{
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
  margin: 20px 3px;
}

.meal-img img{
  width: 100%;
  border-radius: 1rem;
  padding-top: 5px;
  display: block;
}
.meal-name{
  padding: 1.5rem 0.5rem;
}
.meal-name h3{
  font-size: 1.4rem;
}

.single-meal {
  margin: 30px auto;
  width: 70%;
}

.single-meal img {
  width: 300px;
  margin: 15px;
  border: 4px #fff solid;
  border-radius: 2px;
}

.single-meal-info {
  margin: 20px;
  padding: 10px;
  border: 2px #e09850 dashed;
  border-radius: 5px;
}

.single-meal p {
  margin: o;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

.single-meal ul {
  padding-left: 0;
  list-style-type: none;
}

.single-meal ul li {
  border: 1px solid #ededed;
  border-radius: 5px;
  background-color: #fff;
  display: inline-block;
  color: #2d2013;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  margin: 0 5px 5px 0;
}

.notFound{
  grid-template-columns: 1fr!important;
  color: var(--tenne-tawny);
  font-size: 1.8rem;
  font-weight: 600;
  width: 100%;
}